@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #fff;
  --secondary-color: #132450;
  --accent-color: #ff6347;
  --btn-color: #383A4899;
  --border-color: #EDEDED;

  /* Font sizes */
  --font-small: 14px;
  --font-large: 18px;

}

html, body, #root {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-small);
}

.burger-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 18px;
        height: 14px; /* spacing between lines */
        cursor: pointer;
}

.burger-bar span {
        display: block;
        height: 2px;
        width: 18px;
        background-color: white;
        border-radius: 1px;
}
.progress-bar {
  background-color: var(--btn-color);
  height: 8px;
  border-radius: 6px;
  overflow: hidden;
}
.progress-fill {
  background-color: var(--secondary-color); 
  height: 100%;
  width: 0%;
  transition: width 0.03s linear;
  opacity: 0.9;
}
